<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mongo Scraper</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/style.css">

  
</head>

<body>
  {{{ body }}}
   <script src="/app.js"></script>
</body>
{{!--  create  a link to JS file. That JS file should have code for a click event/ --}}
</html>